@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

/* work section */
.work-icon-box:hover .work-icon {
  background: #ea5e11;
}
.work-icon-box:hover .work-svg {
  fill: #fff;
}

/* category section */
.category-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: scale(1.1);
}
